@page "/about"


<h3>About</h3>


<p>Created by <a href="https://KennethSorensen.dev" target="_blank">Kenneth Sorensen</a>.</p>
<p>Check out the source code on <a href="https://github.com/KennethSorensen" target="_blank">GitHub</a>.</p>



@code {

}

